---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
import Visual from '../components/Visual.astro'
import CallToActionCurrent from '../components/CallToActionCurrent.astro';

---
<script>
	/*const btnOpen = document.getElementById('open');
	const btnClose = document.getElementById('close');
	const menuNav = document.getElementById('menuNav');
	const bgMenu = document.getElementById('bgMenu');
	const btnLinks = document.querySelectorAll('.btnLinks');

	const openMenu = () =>{
		btnClose.classList.replace('scale-100','scale-0');
		btnClose.classList.replace('block','hidden');
		btnOpen.classList.replace('scale-0','scale-100');
		btnOpen.classList.replace('hidden','block');
		menuNav.classList.replace('translate-x-full','translate-x-0');
		bgMenu.classList.replace('bg-transparent','bg-[--bg-one]');
		bgMenu.classList.replace('backdrop:blur-0','backdrop:blur-2xl');
	}

	const closeMenu = () =>{
		btnClose.classList.replace('scale-0','scale-100');
		btnClose.classList.replace('hidden','block');
		btnOpen.classList.replace('scale-100','scale-0');
		btnOpen.classList.replace('block','hidden');
		menuNav.classList.replace('translate-x-0','translate-x-full');
		bgMenu.classList.replace('bg-[--bg-one]','bg-transparent');
		bgMenu.classList.replace('backdrop:blur-2xl','backdrop:blur-0');
	}

	btnClose.addEventListener('click', openMenu);

	btnOpen.addEventListener('click', closeMenu);

	btnLinks.forEach(link =>{
		link.addEventListener('click', closeMenu)
	})

*/
</script>

<Layout title="Nivek Studio">
	<div class="w-full">
		<Header></Header>
		<main class="">
			<Visual></Visual>
			<section id="marketing" class="h-full w-full">

			</section>
		</main>
	</div>
</Layout>

<style>
	
</style>
