---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
import VisualCard from '../components/VisualCard.astro'
import CallToActionCurrent from '../components/CallToActionCurrent.astro';

---
<script>
	/*const btnOpen = document.getElementById('open');
	const btnClose = document.getElementById('close');
	const menuNav = document.getElementById('menuNav');
	const bgMenu = document.getElementById('bgMenu');
	const btnLinks = document.querySelectorAll('.btnLinks');

	const openMenu = () =>{
		btnClose.classList.replace('scale-100','scale-0');
		btnClose.classList.replace('block','hidden');
		btnOpen.classList.replace('scale-0','scale-100');
		btnOpen.classList.replace('hidden','block');
		menuNav.classList.replace('translate-x-full','translate-x-0');
		bgMenu.classList.replace('bg-transparent','bg-[--bg-one]');
		bgMenu.classList.replace('backdrop:blur-0','backdrop:blur-2xl');
	}

	const closeMenu = () =>{
		btnClose.classList.replace('scale-0','scale-100');
		btnClose.classList.replace('hidden','block');
		btnOpen.classList.replace('scale-100','scale-0');
		btnOpen.classList.replace('block','hidden');
		menuNav.classList.replace('translate-x-0','translate-x-full');
		bgMenu.classList.replace('bg-[--bg-one]','bg-transparent');
		bgMenu.classList.replace('backdrop:blur-2xl','backdrop:blur-0');
	}

	btnClose.addEventListener('click', openMenu);

	btnOpen.addEventListener('click', closeMenu);

	btnLinks.forEach(link =>{
		link.addEventListener('click', closeMenu)
	})

*/
</script>

<Layout title="Nivek Studio">
	<Header></Header>
	<main>
		<section class="w-full bg-[--bg-one]">
			<div id="visual" class="grid justify-items-center items-center content-center gap-8 mx-auto lg:max-h-[900px] overflow-hidden lg:min-h-[720px] lg:w-4/5 lg:px-10 py-10">
				<div class="col-start-1 row-span-2 grid grid-rows-[auto_1fr_auto] gap-4 h-full p-5">
					<h1 class="lg:text-6xl">Profesional <strong class=" text-[--primary-color-one]">Visual</strong> Content</h1>
					<p class="lg:text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. In fugiat.</p>
					<CallToActionCurrent href="#">Call To Action</CallToActionCurrent>
				</div>
				<VisualCard
				title="Branding"
				info="Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, eligendi."
				href="/Branding.astro"
				textBtn="Ver m치s"
				>
				<svg width="60" height="60" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
					<path d="M17.73 19.875a2.225 2.225 0 0 1 -1.948 1.125h-7.283a2.222 2.222 0 0 1 -1.947 -1.158l-4.272 -6.75a2.269 2.269 0 0 1 0 -2.184l4.272 -6.75a2.225 2.225 0 0 1 1.946 -1.158h7.285c.809 0 1.554 .443 1.947 1.158l3.98 6.75a2.33 2.33 0 0 1 0 2.25l-3.98 6.75v-.033z"></path>
					<path d="M11.5 11.5m-3.5 0a3.5 3.5 0 1 0 7 0a3.5 3.5 0 1 0 -7 0"></path>
					<path d="M14 14l2 2"></path>
				 </svg>
				</VisualCard>
				<VisualCard
				title="Graphic Design"
				info="Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, eligendi."
				href="/Branding.astro"
				textBtn="Ver m치s"
				>
				<svg width="60" height="60" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
					<path d="M3 14m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"></path>
					<path d="M17 14m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"></path>
					<path d="M10 6m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"></path>
					<path d="M10 8.5a6 6 0 0 0 -5 5.5"></path>
					<path d="M14 8.5a6 6 0 0 1 5 5.5"></path>
					<path d="M10 8l-6 0"></path>
					<path d="M20 8l-6 0"></path>
					<path d="M3 8m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
					<path d="M21 8m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
				 </svg>
				</VisualCard>
				 <VisualCard
				 title="Modeling 3D"
				 info="Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, eligendi."
				 href="/3D.astro"
				 textBtn="Ver m치s"
				 >
				 <svg width="60" height="60" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					 <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
					 <path d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
					 <path d="M7 9.5a.5 .5 0 0 1 .5 -.5h1a1.5 1.5 0 0 1 0 3h-.5h.5a1.5 1.5 0 0 1 0 3h-1a.5 .5 0 0 1 -.5 -.5"></path>
					 <path d="M14 9v6h1a2 2 0 0 0 2 -2v-2a2 2 0 0 0 -2 -2h-1z"></path>
				  </svg>
				 </VisualCard>
				
				 <VisualCard
				title="Photography & Video"
				info="Lorem ipsum dolor sit amet consectetur adipisicing elit."
				href="/Photography.astro"
				textBtn="Ver m치s"
				>
				<svg width="60" height="60" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
					<path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
					<path d="M3.6 15h10.55"></path>
					<path d="M6.551 4.938l3.26 10.034"></path>
					<path d="M17.032 4.636l-8.535 6.201"></path>
					<path d="M20.559 14.51l-8.535 -6.201"></path>
					<path d="M12.257 20.916l3.261 -10.034"></path>
				</svg>
				</VisualCard>
			</div>
		</section>
		<section>

		</section>
	</main>
</Layout>

<style>
	/*section {
			grid-auto-rows: 22rem;
			grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
			max-height: 900px;
			min-height: 720px;
		}*/

		#visual{
			grid-auto-rows: min-content;
			grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
			grid-auto-flow: dense;
			
		}

</style>
