---
const {href} = Astro.props;
---

<a class="py-3 px-9 text-[--primary-color one] max-w-fit max-h-fit text-center bg-white/20 backdrop:blur-xl rounded-md border-2 border-white hover:bg-[--primary-color-one] text-white active:scale-90 lg:text-lg duration-300" href={href}><slot></a>