---
const {href} = Astro.props;
---

<li class="md:flex md:flex-col md:justify-between md:overflow-hidden">
    <span class="md:h-1 md:w-full md:bg-current md:transition-transform md:duration-300"></span>
    <a class="btnLinks md:transition-colors md:duration-300 py-2" href={href}><slot></a>
    <span class="md:h-1 md:w-full md:bg-current md:transition-transform md:duration-300"></span>
</li>

<style>
    li>span{
		transform: translateX(-105%);
	}
	li:hover>span{
		transform: translateX(0);
	}
</style>