---
const {href} = Astro.props;
---

<li class="lg:flex lg:flex-col lg:justify-between lg:overflow-hidden">
    <span class="lg:h-1 lg:w-full lg:bg-current lg:transition-transform lg:duration-300"></span>
    <a class="btnLinks lg:transition-colors lg:duration-300" href={href}><slot></a>
    <span class="lg:h-1 lg:w-full lg:bg-current lg:transition-transform lg:duration-300"></span>
</li>

<style>
    li>span{
		transform: translateX(-101%);
	}
	li:hover>span{
		transform: translateX(0);
	}
</style>